.catalogo{
    padding: 0;
    margin: 0;

    #catalogo-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.tarjetas{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.product-id{
    display: none;
}